.profile{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container{
        width: 60%;
        justify-content: center;
        .info{
            margin-bottom: 20px;            
            width: 100%;
            display: flex;
            align-items: center;
            span{
                color: rgb(111, 115, 119);
                font-weight: 600;
                font-size: 30px;
                cursor: pointer;
            }
            .icon{
                font-size: 100px;
                color: #37918b;
            }
        }
        .upload{
            border-radius: 10px;
            background: $mainBlue;
            width: 100%;
            margin-bottom: 20px;
            height: 150px;
            .head{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 17px;
                h4{
                    font-size: 23px;
                    color: #fff;
                }
                .edit{
                    font-size: 25px;
                    color: #fff;
                }
            }
            .tail{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 15px;
                .resume{ 
                    display: flex;
                    width: 50%;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    border-radius: 20px;
                    padding: 5px;
                    cursor: pointer;
                    margin-top: 10px;
                    font-weight: 500;
                    border: 0.1rem solid #37918b;
                    color: #ECF3F4;
                    background-color: #37918b;
                    height: 45px;
                }
                .resume:hover{
                    background-color: rgb(7, 6, 10);
                }
            }
        }
        .contact{
            margin-bottom: 20px;
            border-radius: 15px;
            background: $mainBlue;
            display: flex;
            flex-direction: column;
            .head{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 17px;
                color: #fff;
                margin-bottom: 5px;
                h4{
                    font-size: 21px;
                }
                .edit{
                    cursor: pointer;
                }
            }
            .email{
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                .email{
                    color: #fff;
                    margin-right: 10px;
                    margin-left: 10px;
                }
                h3{
                    font-size: 15px;
                    color: rgb(148, 167, 160);
                    font-weight: 100;
                }
            }
            .phones{
                display: flex;
                flex-direction: column;
                .link{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                }
                .phone{
                    color: #fff;
                    margin-left: 10px;
                    margin-right: 10px;
                }
                a{
                    font-size: 15px;
                    color: #0e75e2;
                    text-decoration: none;
                }
            }
        }
    }
    .popup{
        background: rgba(0,0,0,0.6);
        width: 100;
        height: 100%;
        position: absolute;
        position: relative;
        top: 0;
        display: none;
        justify-content: center;
        align-items: center;
        .popup_content{
            height: 250px;
            width: 500px;
            background: #fff;
            padding: 20px;
            border-radius: 5px;
            position: relative;
            .head{
                display: flex;
                justify-content: space-between;
                h3{
                    color: black;
                    font-size: 20px;
                }
                .close{
                    font-size: 20px;
                    color: #fff;
                    background-color: black;
                    border-radius: 50px;
                }
                .close:hover{
                    color: $lightBlue;
                }
            }
            .inputs{
                display: flex;
                flex-direction: column;
            }
        }
    }
}


