html {
  font-size: 100%;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: calc(16px + 0.3vw);
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 20px;
  background-color: #1b2330;
  font-weight: 500;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: 100%;
  -webkit-transition: 2s;
  transition: 2s;
}

@media screen and (min-width: 999px) {
  header {
    padding: 30px 20px;
  }
}

header .logo {
  cursor: pointer;
  font-size: 19px;
  font-weight: 700;
  color: #67f1c3;
}

@media screen and (min-width: 999px) {
  header .logo {
    font-size: 23px;
  }
}

header .logos {
  font-size: 0.875rem;
}

@media screen and (min-width: 999px) {
  header .logos {
    font-size: 1rem;
  }
}

span {
  display: inline;
  padding: 0px 20px;
}

.burger {
  display: none;
}

.logos {
  position: relative;
  -webkit-transition: 2s;
  transition: 2s;
}

button {
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content {
  background-color: #1b2330;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  background-image: url(./img/homeimage.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: 100%;
  background-position-y: bottom;
  background-position: 105%;
}

.content .leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4%;
  width: 60%;
  z-index: 1;
}

.content .leftside h1 {
  margin-left: 8%;
}

.content .leftside h1 > strong {
  color: #64e1d9;
}

.content .leftside .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4em;
  margin-left: 3%;
  margin-top: 3%;
}

.content .leftside .form input {
  border-radius: 10px;
  width: 100%;
  height: 50px;
  border-color: #64e1d9;
}

.content .leftside .form button {
  border-radius: 10px;
  min-width: 120px;
  height: 50px;
  background-color: #37918b;
  font-weight: 700;
  font-size: 16px;
}

.content .leftside p {
  font-size: 30px;
  font-weight: 100;
  margin-top: 7%;
  margin-left: 8%;
}

.content .leftside p > small {
  font-size: 20px;
}

.container {
  color: black;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #92d1cd;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.container .sec > h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

.container .sec > h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: aquamarine;
}

.container .sec > p {
  color: black;
}

.container .sci {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[4];
      grid-template-columns: repeat(4, 50px);
  grid-gap: 10px;
}

.container .sci li {
  list-style: none;
}

.container .sci li a {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: #171e2a;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border-radius: 4px;
}

.container .sci li a .fa {
  color: #fff;
  font-size: 20px;
}

.container .sci li a:hover {
  background: #92d1cd;
}

.container .quicklinks {
  position: relative;
}

.container .quicklinks li {
  list-style: none;
}

.container .quicklinks li a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.container .quicklinks li a:hover {
  color: #b8abab;
}

.container .info {
  position: relative;
}

.container .info li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr;
      grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}

.container .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
}

.container .info li span {
  color: #fff;
}

.container .info a {
  color: #f7f7f7;
  text-decoration: none;
}

.container .info a:hover {
  color: aquamarine;
}

@media (max-width: 991px) {
  .container footer {
    padding: 40px;
  }
  .container footer .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .container footer .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.copywrite {
  width: 100%;
  background-color: #0a1423;
  padding: 8px 100px;
  text-align: center;
}

.kbira {
  width: 100%;
  padding-left: 100px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5efef;
}

.kbira .container {
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.kbira .container > * {
  border: 2px solid #ff1100;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20em;
          flex: 1 1 20em;
}

.kbira .leftside > h2 {
  color: #72777c;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 20px;
  margin-bottom: 8px;
  padding-left: 20px;
}

.kbira .cadre1 {
  background-color: #fff;
  border: 1px solid #d8dbdc;
  border-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: hidden;
  padding: 15px;
  width: 320px;
  height: 181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kbira .cadre1 ul li a .profile {
  font-size: 20px;
}

.kbira .cadre1 ul li, .kbira .cadre2 ul li {
  list-style: none;
  color: #0e75e2;
  cursor: pointer;
}

.kbira .cadre1 ul li a, .kbira .cadre2 ul li a {
  text-decoration: none;
}

.kbira .cadre2 {
  padding: 0 15px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d8dbdc;
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: hidden;
  width: 320px;
  height: 97px;
}

.kbira .cadre2 ul li {
  padding: 7px;
}

.container {
  background-color: #0a1423;
}

.container .SignIn, .container .login {
  width: 360px;
  height: 620px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}

.container .SignIn h1, .container .login h1 {
  padding-top: 15px;
}

.container .SignIn form, .container .login form {
  width: 300px;
  margin-left: 20px;
}

.container .SignIn form label, .container .login form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  font-size: 20px;
}

.container .SignIn form input, .container .login form input {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 6px;
  outline: none;
  border: 1px solid gray;
}

.container .SignIn form input[type="button"], .container .login form input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #329ecc;
  font-size: 18px;
}

.container .SignIn p, .container .login p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}

.container p {
  text-align: center;
  font-size: 15px;
  margin-top: -10px;
}

.container p a {
  color: #49c1a2;
}

.container .para {
  text-align: center;
  font-size: 15px;
  margin-top: -10px;
}

.container .para a {
  color: #49c1a2;
}
/*# sourceMappingURL=style.css.map */